 

#mapa {
    width: 100%;
}

.centrado-mapa {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

#titulo-maps {
    font-family: 'Poppins';
    font-weight: 600;

}

#bod{
    margin: 10px;
}