<mat-card id="container" fxLayoutGap="5px" fxLayout="column">
    <div><span id="titulo-bandeja">Reporte de Emergencias ambientales </span> </div>

    <div fxLayoutGap="10px" fxLayout="column">
        <div fxFlex="100" fxFlexAlign="end">
            <div fxLayoutGap="10px" fxFlex="100">
                <mat-form-field>
                    <input [(ngModel)]="query" matInput placeholder="Buscar">
                </mat-form-field>
                <button (click)="listarEAporQuery()" color="accent" mat-raised-button>Buscar</button>
            </div>

        </div>
        <div fxFlex="100">

            <button (click)="crearReportePreliminar()" color="accent" mat-raised-button>Registrar Emergencia

                <mat-icon>
                    computer
                </mat-icon>
            </button>

        </div>

        <mat-card *ngFor="let item of  emergenciaAmbientalList" fxFlex="100" fxLayout="column">

            <div fxLayoutAlign="start" fxLayoutGap="5px" fxLayout="row">
                <div fxLayoutGap="3px" fxLayout="row" fxFlex="30">

                    <mat-icon *ngIf="item.tipoEA===6 ||item.tipoEA===7">
                        computer
                    </mat-icon>
                    <mat-icon *ngIf="item.tipoEA===8">
                        call
                    </mat-icon>
                    <div fxLayout="column">
                        <span class="titulo-item"> {{item.sectorEA }} </span>
                        <span class="sub-descripcion-item">Registro {{item.codigoEA}} </span>
                    </div>
                </div>
                <div fxLayoutGap="3px" fxLayout="row" fxFlex="65">
                    <mat-icon>
                        person_outline
                    </mat-icon>
                    <div fxLayout="column">
                        <span class="descripcion-item">Coordinación: {{item.nombreCoordinador}} </span>
                        <span class="sub-descripcion-item">Fecha de Registro: {{item.fechaRegistroEA}} </span>
                    </div>
                </div>

                <div fxLayoutAlign="end" fxFlex="5">
                    <button (click)="abrirPestana(item)" color="primary" mat-icon-button>
                        <mat-icon *ngIf="item.panel">keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="item.panel !== true">keyboard_arrow_right</mat-icon>
                    </button>

                </div>

            </div>

            <mat-card class="mat-elevation-z0" *ngIf="item.panel=== true" fxLayout="row" fxFlex="100">
                <div fxLayout="column" fxFlex="30">

                    <span class="item-datos">Unidad Fizcalizable : {{item.unidadFiscalizable}} </span>
                    <span class="item-datos">Fecha de EA : {{item.fechaEA}} </span>
                    <span class="item-datos">Emergencia relacionada</span>
                    <div fxLayout="row" fxLayoutGap="10px">
                        <mat-form-field fxFlex="50">
                            <mat-label style="font-size: 13px;">Emergencia relacionada</mat-label>
                            <input matInput #emergencia [value]="item.emergenciaRelacionada">
                            <mat-hint style="color: red;" *ngIf="item?.mensajeError"> {{item?.mensajeError}} </mat-hint>
                            <mat-hint style="color: #3765b4;" *ngIf="item?.mensajeSuccess"> {{item?.mensajeSuccess}}
                            </mat-hint>


                        </mat-form-field>
                        <div fxFlexAlign="center" fxFlex="50">
                            <button (click)="relacionarEmergencia(item,emergencia)" color="accent"
                                mat-raised-button>Enviar</button>
                        </div>

                    </div>

                </div>
                <div fxLayout="column" fxFlex="20">
                    <div fxFlex="100">
                        <button [disabled]="item.emergenciaRelacionada!==''" (click)="irReportePreliminar(item)"
                            mat-raised-button color="primary">
                            <mat-icon>
                                description
                            </mat-icon>
                            RPEA
                        </button>
                    </div>
                    <span class="item-datos">Registro de RPEA: {{item.fechaRegistroRPEA}} </span>
                    <span class="item-datos">Estado: {{item.estadoRPEA}} </span>
                </div>
                <div fxLayout="column" fxFlex="20">
                    <div fxFlex="100">
                        <button [disabled]="item.emergenciaRelacionada!==''" (click)="irReporteFinal(item)"
                            mat-raised-button color="primary">
                            <mat-icon>
                                description
                            </mat-icon>
                            RFEA
                        </button>
                    </div>
                    <span class="item-datos">Registro de RFEA: {{item.fechaRegistroRFEA}} </span>
                    <span class="item-datos">Estado: {{item.estadoRFEA}} </span>
                </div>
                <div fxLayout="column" fxFlex="30">
                    <div class="ver-mapa" (click)="irEstadoEmergenciaAmbiental(item)">
                        <span class="item-datos">Estado de la EA</span>
                        <mat-icon>
                            business
                        </mat-icon>

                    </div>
                    <div (click)="abrirMapa(item)" class="ver-mapa">
                        <span class="item-datos"> Georeferenciación </span>
                        <mat-icon>
                            location_on
                        </mat-icon>

                    </div>

                </div>
            </mat-card>

        </mat-card>

    </div>

<!--     <mat-paginator [length]="length" [pageSize]="pageSize" (page)="a($event)">
    </mat-paginator> -->


</mat-card>