<mat-card [formGroup]="formularioTab1" fxLayout="column">
  <mat-tab-group fxLayout="column" #allTabs dynamicHeight>
    <mat-tab label="DATOS DE ADMINISTRADO*">
      <div fxLayoutGap="30px" class="container-reporte" fxLayout="row">
        <div fxFlex="30">

          <mat-form-field class="expand">
            <mat-label>Unidad fiscalizable</mat-label>

            <mat-select formControlName="unidadFizcalizable">
              <mat-option value=""> Seleccione Unidad fiscalizable </mat-option>
              <mat-option *ngFor="let item of unidadesFiscalizables" [value]="item.unidadFiscalizableId">
                {{item.unidadFiscalizableDescripcion}}
              </mat-option>

            </mat-select>
          </mat-form-field>

        </div>
        <div fxFlex="10" id="check-reporte">
          <mat-checkbox formControlName="flagUnidadFiscalizable">No aplica</mat-checkbox>
        </div>

        <div fxFlex="20">

          <mat-form-field class="expand">
            <mat-label>Subsector</mat-label>
            <mat-select formControlName="subSector">
              <mat-option value=""> Seleccione sector </mat-option>
              <mat-option *ngFor="let item of sectores" [value]="item.sectorId"> {{item.sectorDescripcion}}
              </mat-option>

            </mat-select>
          </mat-form-field>
        </div>

      </div>

      <div fxFlex="100" fxLayout="column">
        <div style="margin-bottom: 20px;" fxLayout="row">
          <div class="line-reporte" fxFlex="5">
            N°
          </div>
          <div class="line-reporte" fxFlex="40">
            Personas de contacto
          </div>
          <div class="line-reporte" fxFlex="25">
            Correo electrónico
          </div>
          <div class="no-line-reporte" fxFlex="25">
            Teléfono/celular
          </div>
        </div>
        <div formArrayName="contacto" *ngFor="let item of datosPersonas.controls; let i =index">
          <div class="inputs-list" fxLayout="row" fxLayoutGap="10px" [formGroupName]="i">
            <div class="n-orden" fxFlex="5">
              <span> {{i+1}} </span>
            </div>

            <mat-form-field fxFlex="40">
              <input placeholder="Ingrese nombres" formControlName="nombreContacto" class="reporte-input" type="text"
                matInput>
            </mat-form-field>

            <mat-form-field fxFlex="25">
              <input placeholder="Ingrese correo" formControlName="correoContacto" class="reporte-input" type="text"
                matInput>
            </mat-form-field>

            <mat-form-field fxFlex="25">
              <input placeholder="Ingrese teléfono" formControlName="telefonoContacto" class="reporte-input" type="text"
                matInput>
            </mat-form-field>

            <div fxFlexAlign="center" class="add" fxFlex="5">
              <button *ngIf="datosPersonas.length-1===i" [disabled]="datosPersonas.controls[i].invalid"
                (click)="agregarNuevoDatosPersonales()" color="primary" mat-icon-button>
                <mat-icon>
                  add_circle
                </mat-icon>
              </button>
              <button class="btn-remove" *ngIf="datosPersonas.length-1!==i" (click)="eliminarDatosPersonas(i)"
                color="primary" mat-icon-button>
                <mat-icon>
                  remove_circle
                </mat-icon>
              </button>
            </div>
          </div>

        </div>
      </div>
      <div #formReg id="tab-end" fxLayout="column">
        <span id="titulo-tab">EVIDENCIAS QUE SUSTENTAN EL REPORTE ***</span>
        <div fxLayoutGap="20px" style="margin-top: 10px;" fxLayout="row">
          <div fxFlex="50">
            <mat-form-field id="textarea">
              <mat-label>Detalles</mat-label>
              <textarea formControlName="detalleEvidencia" style="height: 100px; padding: 5px;" matInput></textarea>
            </mat-form-field>
            <span>
              * Datos obligatorios
              <br>
            </span>

            <span>
              *** En los medios probatorios adjuntos debe indicarsela fecha, hora y georeferencia
            </span>
          </div>
          <div fxFlex="50" fxLayoutGap="20px" fxLayout="column">
            <div fxLayoutGap="20px" fxLayout="row">
              <mat-form-field fxFlex="40" id="input-file">

                <input [disabled]="isLoading"
                  accept=".pdf,.xpdf,.doc,.docx,.xls,.xlsx,.mp4,.jpg,.png,.zip,.rar,.ppt,.mp3,.pptx"
                  placeholder="Subir archivos" #fileVisible autocomplete="false" type="text" matInput
                  (click)="fileInput.click()">

                <div style="display: none;" #divContentInputFile>
                  <input name="documento" type="file"
                    accept=".pdf,.xpdf,.doc,.docx,.xls,.xlsx,.mp4,.jpg,.png,.zip,.rar,.ppt,.mp3,.pptx"
                    (change)="onFileChanged($event)" #fileInput />
                </div>

                <mat-icon matSuffix>file_upload</mat-icon>
                <mat-hint *ngIf="validarFile?.estado===false" style="color: red;"> {{validarFile?.mensaje}} </mat-hint>
              </mat-form-field>

              <span *ngIf="isLoading" fxFlexAlign="center">Cargando...</span>
              <mat-spinner *ngIf="isLoading" fxFlexAlign="center" diameter="30"></mat-spinner>
            </div>


            <div style="margin-top: 10px;">
              <ul>
                <li class="puntero" [title]="'Descargar archivo: '  + item.name " *ngFor="let item of files"
                  (click)="descargarArchivoGenerado(item)">
                  <mat-icon>
                    description
                  </mat-icon>
                  {{item.name}}
                </li>

              </ul>
            </div>
          </div>
        </div>

      </div>


    </mat-tab>
    <mat-tab label="TIPO DEL EVENTO*">
      <div id="tab2" fxLayout="column">

        <mat-form-field fxFlex="70">
          <mat-label>Nombre de la Instalación</mat-label>
          <input formControlName="nombreInstalacion" type="text" matInput>
        </mat-form-field>
        <div fxLayout="row">
          <div fxFlex="25" fxLayout="row">
            <mat-form-field>
              <mat-label>Fecha</mat-label>
              <input formControlName="fechaEvento" type="date" matInput>
            </mat-form-field>
          </div>

          <div fxFlex="25" fxLayout="row">
            <mat-form-field>
              <mat-label>Hora de inicio del evento</mat-label>
              <input formControlName="horaInicioEvento" type="time" matInput>
              <!--    <mat-icon matSuffix>schedule</mat-icon> -->
            </mat-form-field>
          </div>
          <div fxFlex="25" fxLayout="row">
            <mat-form-field>
              <mat-label>Hora de término</mat-label>
              <input formControlName="horaFinEvento" type="time" matInput>
              <!--               <mat-icon matSuffix>schedule</mat-icon> -->
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row">
          <div fxFlex="25" fxLayout="row">
            <mat-form-field>
              <mat-label>Area afectada</mat-label>
              <input formControlName="areaAfectada" type="number" matInput>

            </mat-form-field>
            <div style="margin-left: 5px;"></div>
            <mat-form-field class="m2">

              <mat-select formControlName="unidadAreaAfectada">

                <mat-option *ngFor="let item of unidadesMedida" [value]="item.unidadMedidaId">
                  {{item.unidadMedidaDescripcion}} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="25" fxLayout="row">
            <mat-form-field>
              <mat-label>Cantidad involucrada</mat-label>
              <input formControlName="cantidadInvolucrada" type="number" matInput>

            </mat-form-field>
            <div style="margin-left: 5px;"></div>
            <mat-form-field class="m2">

              <mat-select formControlName="unidadCantidadInvolucrada">
                <mat-option *ngFor="let item of unidadesMedida" [value]="item.unidadMedidaId">
                  {{item.unidadMedidaDescripcion}} </mat-option>

              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row" fxFlex="100">
          <mat-form-field fxFlex="100">
            <mat-label>Lugar donde ocurrió</mat-label>
            <textarea formControlName="descripcionLugar" style="height: 100px;" matInput></textarea>
          </mat-form-field>
        </div>

        <div fxLayoutGap="20px" fxLayout="row">
          <div fxLayout="column" fxFlex="30">
            <span>Ubicación (coordenadas UTM)</span>
            <app-mapa *ngIf="coordendas" (retornarCoordenadas)="pintarCoordenadas($event)" [coordenadas]="coordendas"
              [titulo]="false" [altura]="'250px'"></app-mapa>
          </div>
          <div fxLayout="column" fxFlex="20">
            <span>Coordenadas UTM DATUM WGS84</span>

            <mat-form-field>
              <mat-label>Este</mat-label>
              <input type="text" formControlName="coordenadaEste" matInput>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Norte</mat-label>
              <input formControlName="coordenadaNorte" type="text" matInput>
            </mat-form-field>

          </div>
          <div fxLayout="column" fxFlex="20">

            <mat-form-field>
              <mat-label>Departamento</mat-label>
              <mat-select formControlName="departamento">
                <mat-option value="">Selecciones departamento</mat-option>
                <mat-option [value]="item.idDepartamento" *ngFor="let item of departamentos">
                  {{item.departamentoNombre}} </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Provincia</mat-label>
              <mat-select formControlName="provincia">
                <mat-option value="">Selecciones provincia</mat-option>
                <mat-option *ngFor="let item of provincias" [value]="item.idProvincia">
                  {{ item.provinciaNombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Distrito</mat-label>
              <mat-select formControlName="distrito">
                <mat-option value="">Selecciones distrito</mat-option>
                <mat-option *ngFor="let item of distritos" [value]="item.idDistrito">
                  {{ item.distritoNombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>


          </div>
          <div fxLayout="column" fxFlex="20">

            <mat-form-field>
              <mat-label>Localidad</mat-label>
              <input formControlName="localidad" type="text" matInput>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Zona/Comunidad Nativa/Campesina</mat-label>
              <input formControlName="zona" type="text" matInput>
            </mat-form-field>
          </div>
        </div>


      </div>
    </mat-tab>
    <mat-tab label="POSIBLE ORIGEN DE LA EA">
      <div id="tab3" fxLayout="column">
        <span>Origen del evento***</span>

        <div id="group-img" fxLayoutAlign="center" fxLayoutGap="10px" fxLayout="row">

          <div fxFlex="15">
            <img src="assets/img/rain.png" alt="">
            <br>

            <mat-checkbox formControlName="climaticoFlag">
              Climático
            </mat-checkbox>
          </div>
          <div fxFlex="15">
            <img src="assets/img/tecnologico.png" alt="">
            <br>
            <mat-checkbox formControlName="tecnologicoFlag">
              Tecnológico
            </mat-checkbox>

          </div>
          <div fxFlex="15">
            <img src="assets/img/person.png" alt="">
            <br>
            <mat-checkbox formControlName="humanoFlag">
              Humano
            </mat-checkbox>


          </div>
          <div fxFlex="15">
            <img src="assets/img/users.png" alt="">
            <br>
            <mat-checkbox formControlName="terceroFlag">
              Terceros
            </mat-checkbox>


          </div>
          <div fxFlex="15">
            <img src="assets/img/others.png" alt="">
            <br>
            <mat-checkbox #otros (change)="updateOA($event)" formControlName="otrosFlag">
              Otros
            </mat-checkbox>
            <br>
            <mat-form-field>
              <mat-label>
                Precisar
              </mat-label>
              <input [readonly]="!otros.checked" formControlName="origenDescripcion" type="text" matInput>
            </mat-form-field>
          </div>
        </div>


        <div fxLayoutGap="20px" fxLayout="row">

          <mat-form-field fxFlex="50">
            <mat-label>
              Descripción del evento
            </mat-label>
            <textarea formControlName="descripcionEvento" style="height: 150px;width: 100%;" matInput></textarea>
          </mat-form-field>
          <div fxFlex="50" fxLayout="column">
            <div fxLayout="row">

              <mat-label fxFlex="30">Componentes ambientales afectados</mat-label>

              <mat-checkbox formControlName="aguaFlag" fxFlex="20">
                Agua
              </mat-checkbox>
              <mat-checkbox formControlName="sueloFlag" fxFlex="20">
                Suelo
              </mat-checkbox>
              <mat-checkbox formControlName="aireFlag" fxFlex="20">
                Aire
              </mat-checkbox>
              <mat-checkbox #otrosCA (change)="updateCA($event)" formControlName="otrosFlagCA" fxFlex="20">
                Otros
              </mat-checkbox>
            </div>
            <mat-form-field>
              <mat-label>Otros</mat-label>
              <input [readonly]="!otrosCA.checked" formControlName="componenteDescripcion" type="text" matInput>
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row">

          <div fxFlex="30" fxLayout="column">
            <mat-label>¿Se implementó plan de contingencia?</mat-label>
            <mat-radio-group formControlName="flagPlanContingencia">
              <mat-radio-button [value]="true">Si</mat-radio-button>
              <br>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>


          </div>
          <mat-form-field fxFlex="70">
            <mat-label>
              Explicar
            </mat-label>
            <textarea formControlName="descripcionPlanContigencia" matInput style="height: 100px;"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div id="btn-group" fxFlexAlign="center">
    <div fxLayoutGap="20px" fxLayout="row">
      <button [disabled]="flagEnviando" (click)="volver()" mat-raised-button color="primary">Atrás</button>
      <button [disabled]="flagEnviando" mat-raised-button color="primary" (click)="registrarRPEA()">Guardar</button>
      <button [disabled]="flagEnviando" (click)="limpiar()" mat-raised-button color="primary">Limpiar</button>
      <button *ngIf="eaID!==''" [disabled]="flagEnviando" mat-raised-button color="primary"
        (click)="registrarPresentacion()">Presentar


      </button>

    </div>


  </div>
  <div *ngIf="flagEnviando" style="text-align: center;" fxFlex="100">
    <mat-spinner style="margin: 0px auto; margin-top: 20px;" diameter="30"></mat-spinner>
    <p> {{mensajeStatus}} </p>

  </div>

</mat-card>

<div style="display: none;">
  <hr>
  <form #formUpload ngNoForm [action]="iframeURL(urlIframe)" target="uploadiframe" method="post"
    enctype="multipart/form-data" name="formUpload">
    <input type="text" name="keyh" [value]="hkey">
  </form>

  <iframe #iframeUpload (load)="iframeLoaded()" id="uploadiframe" name="uploadiframe">
  </iframe>

  <hr>
  <button type="button" (click)="getIframeHTML()">preu"""""</button>
</div>