
 
.titulo-estado {
    text-transform: uppercase;
    font-family: 'Poppins';
    font-weight: 600;
}

.progressbar {
    margin: 10px;
}

.step {
    border: 3px solid #00D325;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    background-color: #00D325;
}

.step-white {
    border: 2px solid #00D325;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    background-color: white;
}

.step-sub {
    border: 2px solid #00D325;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    background-color: #00D325;
}

.sec {
    margin: 0px auto;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Poppins';
    font-weight: 600;
}

.linea {
    border: 2px solid #00D325;
    margin-top: 45px;
}

.desc {
    font-size: 13px;
    font-family: 'Poppins';
    font-weight: 300;
}

mat-card {
    margin: 20px;
    border-radius: 10px;
}

#space {
    height: 50px;
}

.space-item {
    margin-top: 20px;
}

.space-desc {
    margin-top: 5px;
}

.linea-sub {
    border-left: 2px solid #00D325;
    height: 50px;
}

.linea-sub-item {
    border-left: 2px solid #b4b5b5;
    height: 30px;
}

.estado-desc {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 13px;
}

.titulo-estado {
    font-family: 'Poppins';
    font-weight: 600;
}

.fecha-estado {
    font-family: 'Poppins';
    font-weight: 100;
    font-size: 14px;
    color: #b4b5b5;
}