<div fxLayout="column">
  <div id="titulo" fxLayout="row">
    <span style="padding-top: 15px;" fxFlexOffset="10" fxFlex="80">Reporte Preliminar</span>
    <button id="close" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>

  </div>

  <div class="body-mensaje">
    <span>Información obligatoria incompleta</span>
    <br>
    <span> Quedan 10:28:54 h para completar el Reporte prelimina</span>
    <br>
    <span> ¿Qué desea Hacer? </span>
  </div>

  <div class="body-mensaje" fxLayoutAlign="center" fxLayoutGap="20px" fxLayout="row">
    <div fxFlex="20">
      <button class="btn-control" (click)="salir(false)" mat-raised-button>REGRESAR</button>
    </div>
    <div fxFlex="20">
      <button class="btn-control" (click)="registrarRPEA()" mat-raised-button>GUARDAR</button>
    </div>
  </div>


</div>