<mat-card [formGroup]="miFormulario" fxLayout="column">
  <mat-tab-group fxLayout="column" #allTabs dynamicHeight>
    <mat-tab label="DATOS DEL EVENTO">
      <div fxLayout="column" id="tab1">
        <div fxLayoutGap="30px" fxLayout="row">
          <mat-form-field>
            <mat-label>Hora de inicio del evento</mat-label>
            <input formControlName="horaInicioEvento" type="time" matInput>
            <!--    <mat-icon matSuffix>schedule</mat-icon> -->
          </mat-form-field>
          <mat-form-field>
            <mat-label>Hora de término</mat-label>
            <input formControlName="horaFinEvento" type="time" matInput>
            <!--               <mat-icon matSuffix>schedule</mat-icon> -->
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-label>Descripción del evento</mat-label>
          <textarea formControlName="descripcionEvento" class="textarea" matInput></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Causas de Origen</mat-label>
          <textarea formControlName="causasOrigen" class="textarea" matInput></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Condiciones Climáticas</mat-label>
          <textarea formControlName="condicionesClimaticas" class="textarea" matInput></textarea>
        </mat-form-field>
      </div>
      <div fxLayout="row">

        <div style="margin-left: 15px;" fxFlex="30" fxLayout="column">
          <mat-label>¿Se implementó plan de contingencia?</mat-label>
          <mat-radio-group formControlName="flagPlanContingencia">
            <mat-radio-button [value]="true">Si</mat-radio-button>
            <br>
            <mat-radio-button [value]="false">No</mat-radio-button>
          </mat-radio-group>


        </div>
        <mat-form-field fxFlex="70">
          <mat-label>
            Explicar
          </mat-label>
          <textarea formControlName="descripcionPlanContigencia" matInput class="textarea"></textarea>
        </mat-form-field>
      </div>


      <div fxLayout="column">
        <span>NOTAS:</span>
        <p class="p-nota">1 - La descripción deberá hacerse de manera detallada precisando secuencialmente el tipo y
          las(s)
          causas(s) del accidente, fecha y hora de ocurrencia, las acciones y coordinaciones realizadas, los
          daños generados, las personas afectadas y las consecuencias respectivas. En caso se consigne informacion
          diferente a la indicada en
          el Reporte Preliminar, deberan sustentarse las variaciones, de igual forma para cualquier variación de datos
          en el presente reporte.
        </p>
        <p class="p-nota">
          2 - Describa las condiciones ambientales que prevalecían al momento de la emergencia, incluyendo aquellas que
          ayuden a explicar
          el comportamiento de las sustancias o energía liberada (dirección del viento, tempreatura ambiente, humedad
          relativa) .
        </p>
      </div>
    </mat-tab>


    <mat-tab label="CONSECUENCIAS DEL EVENTO">

      <div id="tab2" fxLayout="column">
        <span class="desc-table">Derrame o fuga</span>
        <div fxLayout="column">
          <div fxLayout="row">
            <div class="line-reporte" fxFlex="5">
              <span class="desc-table"> N°</span>

            </div>
            <div class="line-reporte" fxFlex="50">
              <span class="desc-table">Sustancia involucrada¹</span>

            </div>
            <div class="line-reporte" fxFlex="30">
              <span class="desc-table">Cantidad/volumen de sustancia involucrada aproximada</span>

            </div>
            <div class="no-line-reporte" fxFlex="15">
              <span class="desc-table">Área afectada aproximada (m2)</span>

            </div>
          </div>
          <div formArrayName="productoConsecuencia" *ngFor="let item of datosDerrameFuga.controls;let i = index"
            fxLayout="column">
            <div [formGroupName]="i" fxLayout="row">
              <div fxLayout="column" fxLayoutAlign="center" class="border-r" fxFlex="5">

                <span fxFlexAlign="center" class="n-orden"> {{i+1}}</span>

              </div>
              <div class="border-r" fxLayoutGap="10px" fxLayoutAlign="center" fxLayout="row" fxFlex="50">
                <div fxFlex="40">
                  <mat-form-field style="width: 70%;">
                    <mat-label>
                      Nombre
                    </mat-label>
                    <input formControlName="nombreProducto" type="text" matInput>
                  </mat-form-field>
                </div>

                <div fxFlexAlign="center" fxFlex="40">
                  <mat-radio-group fxLayoutAlign="center" fxLayoutGap="10px" fxLayout="row" style="margin-top: 10px"
                    formControlName="tipoProducto">
                    <mat-radio-button fxFlexAlign="center" [value]="'1'">Líquido</mat-radio-button>
                    <mat-radio-button fxFlexAlign="center" [value]="'2'">Solido</mat-radio-button>
                    <mat-radio-button fxFlexAlign="center" [value]="'3'">Gaseoso</mat-radio-button>
                  </mat-radio-group>
                </div>

              </div>
              <div class="border-r" fxLayoutAlign="center" fxLayoutGap="10px" fxLayout="row" fxFlex="30">
                <mat-form-field fxFlex="40">
                  <mat-label>Galones </mat-label>
                  <input formControlName="galonesVolumen" type="number" matInput>
                </mat-form-field>
                <div fxFlexAlign="center" fxFlex="10">
                  Ó
                </div>
                <mat-form-field fxFlex="40">
                  <mat-label>Especficar </mat-label>
                  <input formControlName="galonesEspecificar" type="text" matInput>
                </mat-form-field>
              </div>
              <div fxLayoutAlign="center" fxLayout="row" fxFlex="10">


                <mat-form-field style="margin-left: 5px;" fxFlex="50">
                  <mat-label>
                    Area
                  </mat-label>
                  <input formControlName="areaInvolucrada" type="number" matInput>
                </mat-form-field>

                <mat-select fxFlexAlign="center" fxFlex="50" formControlName="unidadMedida">
                  <mat-option *ngFor="let item of unidadMedidaList" [value]="item.unidadMedidaId">
                    {{item.unidadMedidaDescripcion}}
                  </mat-option>
                  <mat-option value="m3">
                    m3
                  </mat-option>
                </mat-select>

              </div>
              <div fxFlexAlign="center" fxFlex="5" class="add">
                <button [disabled]="datosDerrameFuga.controls[i].invalid" *ngIf="datosDerrameFuga.length-1 ===i"
                  (click)="agregarNuevoDatosDerrame()" color="primary" mat-icon-button>
                  <mat-icon>
                    add_circle
                  </mat-icon>
                </button>
                <button class="btn-remove" *ngIf="datosDerrameFuga.length-1 !== i"
                  (click)="eliminarNuevoDatosDerrame(i)" mat-icon-button>
                  <mat-icon>remove_circle</mat-icon>

                </button>
              </div>
            </div>

          </div>

        </div>

        <div fxLayout="column">
          <mat-form-field>
            <mat-label>Impactos y daños ambientales²</mat-label>
            <textarea formControlName="impactoConsecuencia" class="textarea" matInput></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Afectación a personas</mat-label>
            <textarea formControlName="repercusionConsecuencia" class="textarea" matInput></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Acciones del administrado</mat-label>
            <textarea formControlName="accionAdministradoConsecuencia" class="textarea" matInput></textarea>
          </mat-form-field>

          <div fxLayoutGap="20px" fxLayout="row">
            <mat-form-field fxFlex="40">
              <mat-label>Cantidad de material recuperado</mat-label>
              <input formControlName="cantidadMaterialRecuperado" type="number" matInput>

            </mat-form-field>
            <mat-form-field fxFlex="5">
              <mat-select formControlName="unidadMedida">
                <mat-option [value]="item.unidadMedidaId" *ngFor="let item of unidadMedidaList">
                  {{item.unidadMedidaDescripcion}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="40">
              <mat-label>Cantidad de material no recuperado</mat-label>
              <input formControlName="cantidadMaterialNoRecuperado" type="number" matInput>

            </mat-form-field>

          </div>
        </div>
        <div fxLayout="column">
          <span>Notas</span>
          <p class="p-nota">
            ¹ - Precisar si son hidrocarburos, líquidos, gaseosos, efluentes, relaves, aceite dieléctrico, sustancias
            químicas, etc.
          </p>
          <p class="p-nota">
            ² - Indicar características del daño de cada área afectada: agua , suelo, flora, fauna, reserva natural,
            restos arqueológicos, bofedales, etc.
          </p>

        </div>


      </div>


    </mat-tab>
    <mat-tab label="ACCIONES CORRECTIVAS">
      <div id="tab3" fxLayout="column">
        <div formArrayName="medidaAdoptar" *ngFor="let item of medidasAdoptar.controls;let e = index" fxLayout="row">
          <mat-form-field [formGroupName]="e" fxFlex="100">
            <mat-label>
              Medida a adoptar
            </mat-label>
            <input formControlName="medida" type="text" matInput>
          </mat-form-field>
          <button [disabled]="medidasAdoptar.controls[e].invalid" *ngIf="medidasAdoptar.length-1 === e"
            (click)="agregarNuevaMedidaAdoptar()" color="primary" mat-icon-button>
            <mat-icon>add_circle</mat-icon>

          </button>
          <button class="btn-remove" *ngIf="medidasAdoptar.length-1 !== e" (click)="eliminarNuevoMedidaAdoptar(e)"
            mat-icon-button>
            <mat-icon>remove_circle</mat-icon>

          </button>
        </div>




        <div #formReg fxLayout="column">
          <mat-form-field fxFlex="50">
            <mat-label>
              Empresa operadora de Residuos Sólidos (Transporte y DIsposisción FInal)¹

            </mat-label>
            <input formControlName="empresaOperadora" type="text" matInput>
          </mat-form-field>

          <div fxLayoutGap="20px" fxLayout="row">
            <mat-form-field fxFlex="50">
              <mat-label>
                Subir archivos
              </mat-label>

              <input #fileVisibleOne [disabled]="isLoading" placeholder="Subir archivos" autocomplete="false"
                type="text" matInput (click)="fileInput1.click()">
              <div style="display: none;" #divContentInputFile>
                <input name="documento" type="file"
                  accept=".pdf,.xpdf,.doc,.docx,.xls,.xlsx,.mp4,.jpg,.png,.zip,.rar,.ppt,.mp3,.pptx" type="file"
                  (change)="onFileChangedOne($event)" #fileInput1 />
              </div>
              <mat-icon matSuffix>file_upload</mat-icon>
              <mat-hint *ngIf="validarFile?.estado===false && tipoArchivo===0" style="color: red;">
                {{validarFile?.mensaje}} </mat-hint>
            </mat-form-field>


            <span *ngIf="isLoading  && tipoArchivo===0" fxFlexAlign="center">Cargando...</span>
            <mat-spinner *ngIf="isLoading  && tipoArchivo===0" fxFlexAlign="center" diameter="30"></mat-spinner>



          </div>

          <ul>
            <li class="puntero" *ngFor="let item of fileOne" (click)="descargarArchivoGenerado(item)">
              <mat-icon matSuffix>description</mat-icon> {{item.name}}
            </li>
          </ul>

        </div>
 
        <br>
        <div   fxLayoutGap="20px" fxLayout="column">
          <div #formReg2 fxFlex="30" fxLayout="column">
            <span>Documentos que se Adjuntan ²</span>

            <div fxLayout="row" fxLayoutGap="20px">
              <mat-form-field fxFlex="50">
                <mat-label>
                  Subir archivos
                </mat-label>
                <input [disabled]="isLoading" #fileVisible placeholder="Subir archivos" autocomplete="false" type="text"
                  matInput (click)="fileInput2.click()">
                <div style="display: none;" #divContentInputFile2>
                  <input type="file" name="documento" (change)="onFileChanged($event)" #fileInput2 />
                </div>

                <mat-icon matSuffix>file_upload</mat-icon>
                <mat-hint *ngIf="validarFile2?.estado===false" style="color: red;">
                  {{validarFile2?.mensaje}} </mat-hint>
              </mat-form-field>

              <span *ngIf="isLoading  && tipoArchivo===1" fxFlexAlign="center">Cargando...</span>
              <mat-spinner *ngIf="isLoading  && tipoArchivo===1" fxFlexAlign="center" diameter="30"></mat-spinner>



            </div>


          </div>

          <ul fxFlex="50">
            <li class="puntero" *ngFor="let item of files" (click)="descargarArchivoGenerado(item)">
              <mat-icon matSuffix>description</mat-icon> {{item.name}}
            </li>
          </ul>

          <div fxFlex="50" fxLayout="column">
            <span>Estado de la Instalación o Medio de Transporte despues de la emergencia</span>
            <mat-radio-group formControlName="estadoInstalacion" id="group-img" fxLayoutGap="20px" fxLayoutAlign="left"
              fxLayout="row">
              <div fxFlexAlign="center" fxFlex="25">
                <img src="assets/img/operativo.png" alt="">
                <br>
                <mat-radio-button [value]="3">Operativo</mat-radio-button>

              </div>
              <div fxFlexAlign="center" fxFlex="25">
                <img src="assets/img/inperativoparcial.png" alt="">
                <br>
                <mat-radio-button [value]="4">Inoperativo parcial</mat-radio-button>

              </div>
              <div fxFlexAlign="center" fxFlex="25">
                <img src="assets/img/inoperativototal.png" alt="">
                <br>
                <mat-radio-button [value]="5">Inoperativo total</mat-radio-button>
              </div>
            </mat-radio-group>
          </div>


        </div>

        <div fxLayout="column">
          <span>NOTAS</span>
          <p class="p-nota">
            ¹ - Indicar el nombre de la EO-RS y adjuntar el Manifiesto de residuos sólidos peligrosos que corresponde.
          </p>
          <p class="p-nota">
            ² - Se adjunta croquis del lugar de la emergencia (obligatorio) con georeferencia WGS84.
            Registro de medios audiovisuales y además medios probatorios que muestren la secuencia de los hechos
            desde el primer acercamiento al lugar de la emergencia por parte del administrado hasta las acciones
            de control o corrección efectuadas. En dichos medios se debe indicar la fecha, hora y su georeferencia WGS84
            (obligatorio)
            y Otros (especificar).

          </p>
        </div>

      </div>
    </mat-tab>
  </mat-tab-group>
  <div id="btn-group" fxFlexAlign="center">
    <div fxLayoutGap="20px" fxLayout="row">
      <button [disabled]="flagEnviando" mat-raised-button color="primary" (click)="volver()">Atrás</button>
      <button [disabled]="flagEnviando" mat-raised-button color="primary" (click)="registrarRFEA()">Guardar</button>
      <button [disabled]="flagEnviando" mat-raised-button color="primary" (click)="limpiar()">Limpiar</button>
      <button *ngIf="eaId!==''" [disabled]="flagEnviando" mat-raised-button color="primary"
        (click)="registrarPresentacion()">Presentar
      </button>
    </div>
  </div>

  <div *ngIf="flagEnviando" style="text-align: center;" fxFlex="100">
    <mat-spinner style="margin: 0px auto; margin-top: 20px;" diameter="30"></mat-spinner>
    <p>Enviando datos...</p>
  </div>

</mat-card>

<div style="display: none;">

  <hr>
  <form #formUpload ngNoForm [action]="iframeURL(urlIframe)" target="uploadiframe" method="post"
    enctype="multipart/form-data" name="formUpload">
    <input type="text" name="keyh" [value]="hkey">
  </form>

  <iframe #iframeUpload (load)="iframeLoaded()" id="uploadiframe" name="uploadiframe">
  </iframe>

  <hr>
  <button type="button" (click)="getIframeHTML()">preu"""""</button>
</div>