/* You can add global styles to this file, and also import other style files */

html,
body {
    /* font-family: 'Roboto', sans-serif; */
    height: 100%;
    min-height: 100%;
    font-family: Poppins !important;
    margin: 0;
    background-color: #E9EEF3;
}

.mat-tab-header {
    background-color: #01579b !important;
    border-color: #01579b !important;

}

.mat-ink-bar {
    background-color: #ffeb3b !important;
}

 .mat-tab-label-content
 {
    color: white !important;
 }
.mat-dialog-container{
    padding: 0px !important;
}
 